
:root {
    --color-fons: #3b3b3b;
    --color-text: white;
    --color-hover: #9078df;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: var(--color-fons);
    color: var(--color-text);
}

.barra-lateral h1 {
    font-size: 24px;
    padding: 20px;
}

.barra-lateral a {
    color: var(--color-text);
    text-decoration: none;
    padding: 15px 20px;
    margin-inline: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.barra-lateral a:hover{
    background-color: var(--color-hover);
}

main {
    width: 80%;
    margin: 20px 40px;
}

.box-crear-tasca {
    gap: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.box-crear-tasca a {
    padding: 10px 20px;
    background-color: var(--color-fons);
    color: var(--color-text);
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.box-crear-tasca a:hover {
    background-color: var(--color-hover);
}

.input-forms {
    padding: 10px;
    margin-right: 10px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    font-size: 12px;
}
.button-negre {
    padding: 10px 20px;
    background-color: var(--color-fons);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.button-negre:hover {
    background-color: var(--color-hover);
}

#color-categoria {
    padding: 5px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
}

.box-crear-categoria {
    display: flex;
    align-items: center;
    gap: 20px;
}

#form-crear-categoria {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-crear-categoria #nom-categoria {
    padding: 5px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    font-size: 12px;
}
