:root {
    --color-fons: #3b3b3b;
    --color-text: white;
    --color-hover: #9078df;
    --color-gris-fons: #e6e6e6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100vh;
    height: auto;
    background-color: var(--color-fons);
    color: var(--color-text);
}

.barra-lateral h1 {
    font-size: 24px;
    padding: 20px;
}

.barra-lateral a {
    color: var(--color-text);
    text-decoration: none;
    padding: 15px 20px;
    margin-inline: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.barra-lateral a:hover {
    background-color: var(--color-hover);
}

main {
    width: 80%;
    margin: 20px 40px;
}

.header-inici {
    gap: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header-inici a {
    padding: 10px 20px;
    background-color: var(--color-fons);
    color: var(--color-text);
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.header-inici a:hover {
    background-color: var(--color-hover);
}

.input-forms {
    padding: 10px;
    width: auto;
    min-width: 300px;
    margin-right: 10px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    font-size: 12px;
}

.input-forms-descripcio {
    padding: 10px;
    width: 300px;
    height: 100px;
    margin-right: 10px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    font-size: 12px;
}

.button-negre {
    padding: 10px 20px;
    background-color: var(--color-fons);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.button-negre:hover {
    background-color: var(--color-hover);
}

#color-categoria {
    padding: 5px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-crear-categoria {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px var(--color-fons);
    border-radius: 15px;
    background-color: var(--color-gris-fons);
    padding: 20px;
    gap: 10px;
}

#form-crear-categoria #nom-categoria {
    padding: 5px;
    border: var(--color-fons) 1px solid;
    border-radius: 5px;
    font-size: 12px;
}

#form-crear-tasca {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px var(--color-fons);
    border-radius: 15px;
    background-color: var(--color-gris-fons);
    padding: 20px;
    gap: 10px;
}

.categories {
    margin-top: 30px;
}

#categories-llista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#categories-llista li {
    display: flex;
    width: auto;
    min-width: 300px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--color-gris-fons);
    box-shadow: 0px 1px 5px var(--color-fons);
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.mostrar-color {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: var(--color-fons) 1px solid;    
}

.h1-centrat {
    text-align: center;
}